html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.song {
  display: none; /* для мобільних можна прибрати autoplay, щоб не витрачати трафік */
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}

.container > div {
  left: 0;
  position: absolute;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4rem;
  padding: 0 10px;
}

.two {
  font-size: 1rem;
  font-weight: lighter;
  padding: 0 10px;
}

.three {
  font-size: 2rem;
  padding: 0 10px;
}

.four .text-box {
  border: 3px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
}

.text-box p {
  margin: 0;
  text-align: left;
  font-size: 1rem;
}

.text-box .fake-btn {
  background-color: rgb(21, 161, 237);
  border-radius: 3px;
  bottom: -40px;
  color: #fff;
  padding: .5rem 1rem;
  position: absolute;
  right: 5px;
  font-size: 0.9rem;
}

.five p {
  font-size: 1.5rem;
  left: 0;
  position: absolute;
  right: 0;
}

.idea-3 strong {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
}

.five .idea-5 {
  font-size: 2rem;
}

.idea-5 span, .idea-6 span, .wish-hbd span {
  display: inline-block;
}

.idea-6 span{
  font-size: 6rem;
}

.six {
  position: relative;
  top: 10vh;
  z-index: 1;
}

.six img {
  display: inline-block;
  height: auto;
  max-width: 80%;
}

.six .hat {
  left: 40%;
  position: absolute;
  top: -20%;
  width: 60px;
}

.baloons img {
  display: inline-block;
  position: absolute;
  max-width: 40px;
}

.seven, .eight {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.eight svg {
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: -1;
}

.wish-hbd {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
}

.wish h5 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 5px 0 0;
}

.nine p {
  font-size: 1rem;
  font-weight: lighter;
}

#replay {
  cursor: pointer;
  z-index: 3;
}

/* Media Queries для мобільних */
@media screen and (max-width: 600px) {
  .one { font-size: 2rem; }
  .two { font-size: 0.9rem; }
  .three { font-size: 1.5rem; }
  .four .text-box { width: 95%; }
  .text-box .fake-btn { bottom: -35px; right: 5px; font-size: 0.8rem; }
  .five p { font-size: 1.2rem; }
  .idea-5 { font-size: 1.5rem; }
  .idea-6 span { font-size: 4rem; }
  .six .hat { width: 40px; left: 35%; top: -15%; }
  .six img { max-width: 70%; }
  .wish-hbd { font-size: 1.2rem; }
  .wish h5 { font-size: 0.9rem; }
  .nine p { font-size: 0.9rem; }
  .baloons img { max-width: 25px; }
}

@media screen and (max-width: 400px) {
  .one { font-size: 1.8rem; }
  .three { font-size: 1.2rem; }
  .two { font-size: 0.8rem; }
  .five p { font-size: 1rem; }
  .idea-5 { font-size: 1.2rem; }
  .idea-6 span { font-size: 3rem; }
  .six .hat { width: 30px; left: 30%; top: -10%; }
  .six img { max-width: 60%; }
  .wish-hbd { font-size: 1rem; }
  .wish h5 { font-size: 0.8rem; }
  .nine p { font-size: 0.8rem; }
}
